body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.game {
  margin-top: 20px;
}

#gameArea {
  position: relative;
  width: 80%;
  height: 400px;
  margin: 20px auto;
  border: 3px solid white;
  background: #111827;
  overflow: hidden;
}

.fruit {
  position: absolute;
  font-size: 45px;
  cursor: pointer;
  display: none;
  transition: 0.3s ease;
}

#startBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: #38bdf8;
  color: black;
  border-radius: 5px;
}
